@import '../../variables';

.start-button {
  background: $green;
  color: $black;
  border-color: $black;
  text-transform: uppercase;

  &:hover {
    color: $white;
    border-color: $white;
  }
}

.reset-button {
  background: $red;
  color: $black;
  border-color: $black;
  text-transform: uppercase;

  &:hover {
    color: $white;
    border-color: $white;
  }
}
