@import '../../variables';

main {
  max-width: 900px;
  padding-top: 120px;
  margin: 0 auto;
  min-height: 100vh;

  @media screen and (max-width: 576px) {
    padding-top: 96px;
  }
}

.timers-box {
  padding: 36px 0;

  @media screen and (max-width: 576px) {
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.both-button {
  background: $grey;

  &:disabled {
    background-color: lighten($grey, 30%);
  }

  &-caption {
    margin: 36px 0 12px 0;

    @media screen and (max-width: 576px) {
      margin-top: 24px;
      text-align: center;
    }
  }
}

.message {
  margin: 12px;

  a {
    color: #9146ff;
    font-weight: bold;
  }
}
