@import './variables';

* {
  box-sizing: border-box;
  color: $black;
}

body {
  margin: 0;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Oxygen', 'Segoe UI', 'Roboto',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
p {
  margin: 0;
}

button {
  border: none;
}

img {
  width: 100%;
}
