@import '../../variables';

header {
  height: 120px;
  padding: 24px 36px;
  background: $grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 6px 6px $shadow;
  position: fixed;
  top: 0;
  width: 100vw;
  gap: 36px;

  @media screen and (max-width: 576px) {
    height: 96px;
    padding: 18px;
    gap: 24px;
  }
}

h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $white;

  span {
    width: fit-content;

    @media screen and (max-width: 576px) {
      width: min-content;
    }
  }

  img {
    width: 108px;
  }

  @media screen and (max-width: 576px) {
    font-size: 1.5rem;
    justify-content: flex-start;

    img {
      width: 64px;
    }
  }
}
