header {
  height: 120px;
  padding: 24px;
  background: var(--grey);
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 6px 6px var(--shadow);
}

h1 {
  display: flex;
  align-items: center;
  color: var(--white);
}
