@import '../../variables';

header {
  height: 120px;
  padding: 24px 36px;
  background: $grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 6px 6px $shadow;
  position: fixed;
  top: 0;
  width: 100vw;

  @media screen and (max-width: 576px) {
    h1 {
      font-size: 1.5rem;
    }
  }

  img {
    width: 108px;
  }
}

h1 {
  display: flex;
  align-items: center;
  color: $white;
}
