@import '../../../variables';

.warning {
  font-size: 2rem;
  font-weight: bold;
}

.timer-timeLeft-container,
.timer-left,
.enrage-timer-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.timer-timeLeft-container {
  height: 72px;
  cursor: pointer;

  &.disabled {
    opacity: 0.2;
  }

  @media screen and (max-width: 576px) {
    flex-direction: column;
    align-items: center;
  }
}

.enrage-timer-container {
  height: 102px;
  font-size: 2rem;
  font-weight: bold;

  .timer-timeLeft-container {
    height: fit-content;
  }

  @media screen and (max-width: 576px) {
    height: 84px;
    font-size: 1.25rem;
    margin-bottom: 12px;
  }

  span:last-child {
    color: $red;
    font-weight: bold;
  }

  .warning {
    color: $red;
  }

  .button-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

.blue-meteor-timer-container {
  height: 156px;

  @media screen and (max-width: 576px) {
    height: 210px;
    margin-bottom: 6px;
  }

  .button-container button {
    background: $blue;

    &:disabled {
      background-color: lighten($blue, 30%);
    }
  }

  span:last-child {
    color: $blue;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .warning {
    color: $blue;
  }
}

.broken-tile-timer-container {
  height: 156px;

  @media screen and (max-width: 576px) {
    height: 210px;
  }

  .button-container button {
    background: $yellow;

    &:disabled {
      background-color: lighten($yellow, 30%);
    }
  }

  span:last-child {
    color: $yellow;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .warning {
    color: $yellow;
  }
}

button.copy {
  border: none;
  background: transparent;
  box-shadow: none;
  width: 48px;

  &:disabled {
    opacity: 0.2;
  }

  @media screen and (max-width: 576px) {
    display: none;
  }
}

.button-container {
  display: flex;
  align-items: center;
  gap: 120px;
  opacity: 1;
  margin: 12px 0;

  button:not([disabled]):hover {
    border-color: $black;
    color: $black;
  }

  @media screen and (max-width: 576px) {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    max-height: 120px;

    p {
      text-align: center;
      font-size: 1.5rem;
    }
  }

  p {
    animation-name: flashFadeOut;
    animation-duration: 1s;
    animation-iteration-count: 3;
    animation-timing-function: ease-in-out;

    @keyframes flashFadeOut {
      0% {
        opacity: 1;
      }

      100% {
        opacity: 0.2;
      }
    }
  }
}
