.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}

.blue-meteor-button {
  background: var(--blue);
  color: var(--white);
}

.broken-tile-button {
  background: var(--yellow);
}

.both-button {
  background: var(--black);

  &:hover {
    background: var(--grey);
  }
}
